/***********************************
GENERAL
************************************/
/* The selector points to the HTML element you want to style.

The declaration block contains one or more declarations separated by semicolons.

Each declaration includes a CSS property name and a value, separated by a colon.

A CSS declaration always ends with a semicolon, and declaration blocks are surrounded by curly braces.

selector declaration
body     {color: blue;}
        property: value
*/


/* The code below ensures that all elements are sized in this more intuitive way. Many browsers already use box-sizing: border-box; for many form elements (but not all - which is why inputs and text areas look different at width: 100% */
* {
  box-sizing: border-box;
}

/* provided a default font-family and a fallback */
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* id selector uses the id attribute of an HTML element to select a specific element.
The id of an element should be unique within a page, so the id selector is used to select one unique element!
Identifying the entire section in the index.html file to apply the following generalize styles below */
.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 50px 5% 0;
}


/* remove every default underline anchor links */
a {
    text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}



/***********************************
HEADING
************************************/
/* applying a background with two descending gradient values with some transparency, and filling the background in with cover value */
.main-header {
  padding-top: 25px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  height: 500px;
  background: linear-gradient(#5b5855, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              #ffffff url('../img/blackhole.jpg') no-repeat;
  background-size: cover;
  background-position: bottom;
}

/* mobile size orientation for headings */
#logo {
    text-align: center;
    margin: 0;
}

/* applied the following properties and text shadow */
h1 {
  font-family: 'Oleo Script Swash Caps', Helvetica, Arial, sans-serif;
  margin: 15px 0;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 0.8em;
  text-shadow: 0 5px 5px rgba(0,0,0,.8);
}
/* applied the following properties and text shadow */
h2 {
  font-family: 'Indie Flower',Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  margin: -5px 0 0;
  /*font-weight: normal;*/
  letter-spacing: 2px;
  text-shadow: 0 10px 10px rgba(0,0,0,1);
}



/***********************************
NAVIGATION
************************************/
/* mobile orientation center the nav link element */
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}
/* removed the bullet points from the nav link items and provided some space in between each element */
nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}
/* altered the font type with fall back fonts and space text with 2px for readibility */
nav a {
  font-family: 'Indie Flower', Helvetica, Arial, sans-serif;
  font-weight: 800;
  padding: 15px 10px;
  letter-spacing: 2px;
  font-size: 1.2rem;

}



/***********************************
FOOTER
************************************/

footer {
  text-align: center;
  letter-spacing: 1px;
  clear: both;
  padding: 25px;
  background-color: #000;
  /*border-top: 2px solid #000;*/
  /*border-bottom: 10px solid #000;*/
  color: #fff;
  max-width: 600px;
  margin: auto;
  border-radius: 10px 10px 0 0;
}

footer p {
  margin: 10px auto;
}

/* The class selector selects elements with a specific class attribute.
HTML elements can also refer to more than one class. */
.social-icon {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}



/***********************************
PAGE: PORTFOLIO
************************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* applied the box shadow with border radius and mobile device layout */
#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
  border-radius: 5px;
}

/* descendant selector example below */
#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #000;
}



/***********************************
PAGE: ABOUT
************************************/

.profile-photo {
  clear: both;
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
  width: 200px;
  height: 200px;
}



/***********************************
PAGE: CONTACT
************************************/



.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}



/***********************************
COLORS
************************************/

/* site body */
body {
    background-color: #fff;
    color: #5d5b5b;
}

/* green header */
/*header {
    background: #6ab47b;
    border-color: #599a68;
}*/

/* nav background on mobile devices */
nav {
    background: #000;
}

/* logo text and this is grouping selectors because same color style will be applied to both */
h1, h2 {
    color: #fff;
}
/* links */
a {
    color: #000;
}

/* nav link */
nav a, nav a:visited {
    color: #fff;
}
/* selected nav link
A pseudo-class is used to define a special state of an element.

For example, it can be used to:

Style an element when a user mouses over it
Style visited and unvisited links differently
Style an element when it gets focus */
/* nav link with grey text due to blackground */
nav a.selected, nav a:hover {
    color: #5a5b5a;
}

.footer-color {
  color: #fff;
}
